.contacts {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }

  &__hero {
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 30rem;

    &:last-child {
      background-color: $primary-bg;
      box-shadow: $primary-shadow;
      border-radius: 16px;
      padding: 40px;
    }
  }

  &__header {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1.1px;
  }

  &__content {
    color: $primary-color;
    line-height: 1.4;
    font-size: 22px;
  }
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  &__img > svg {
    height: 40px;
    width: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__header {
    font-size: 24px;
    font-weight: 600;
  }

  &__description {
    color: $primary-color;
    font-size: 22px;
    font-style: italic;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__textarea {
    padding: 10px 15px;
    outline: none;
    min-height: 120px;
    border-radius: 8px;
    resize: none;
    border: 1px solid $primary-bg;

    &:hover {
      border: 1px solid $active-color;
    }

    &_error {
      color: $error-color;
      border: 1px solid $error-color;

      &:hover {
        border: 1px solid $error-color;
      }

      &::placeholder {
        color: white;
      }
    }
  }
}
