img {
  width: 40px;
  height: 40px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-bg;
  padding: 10px 15px;

  &__present {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.1px;
  }

  &__nav {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    list-style: none;
    text-decoration: none;
    transition: color 0.2s;

    &:hover {
      color: $hover-color;
    }

    &_active {
      color: $active-color;
      font-weight: 500;
      text-decoration: none;
    }
  }

  &__account {
    text-decoration: none;
    color: $active-color;
    font-weight: 600;
    font-size: 18px;
  }
}

.outlet {
  height: calc(100vh - 100px);
  padding: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: black;
  line-height: 20px;
  background-color: $primary-bg;
}